@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background-color: #222125;
}

.navtitle {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1rem;
}

h1 {
  font-size: 13vw;
  color: black;
  font-weight: 600;
  line-height: 10vw;
}

h2 {
  font-size: 6vw;
  color: black;
  font-weight: 500;
  line-height: 1;
}

h6 {
  font-size: 3vw;
  color: rgb(251, 42, 42);
  font-weight: 500;
}

li {
  font-size: 1.5vw;
  color: black;
  font-weight: 400;
}

.footer-link {
  font-size: 1.5vw;
  color: black;
  font-weight: 400;
}

@media (min-width: 1260px) {
p{
  font-size: 1.5vw;
}

}

@media screen and (max-width: 760px) {

  h1{
    font-size: 20vw;
    line-height: 15vw;
  }

  h2{
    font-size: 1.5rem;
  }

  h6{
    font-size: 1.3rem;
  }

  li{
    font-size: 1rem;
  }

  .footer-link {
      font-size: 1rem;
  }

}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
